<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css"> 
</head>
<body>
    <!-- <div class="intro">
        <div class="heading">Text Summarizer</div>
        <div class="heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur mollitia a officiis nisi cumque, aut quam, earum in totam suscipit exercitationem illum, natus voluptas ad alias modi provident consequuntur beatae libero dignissimos temporibus veritatis repellat fugiat amet? Quisquam sequi cupiditate officiis perferendis velit fugiat tempora enim rem, recusandae quos nihil ipsa odio? Ea sequi amet laboriosam alias praesentium aliquam, deserunt exercitationem consequuntur. Consequuntur aut beatae dolorum voluptatum saepe fugit expedita quibusdam magnam alias! Dolor reprehenderit totam ut odio dolorem ad, asperiores commodi repudiandae animi at enim dolorum fuga sint facilis unde. Fugiat eligendi nobis nulla at commodi asperiores, molestiae sapiente?</div>
    </div> -->
    <!-- <div class="form-container">
        <img src="">
        <input class='text-box' type="text" name="name" id="name">
        <button class='button' id="btn">Submit</button>
    </div> -->
    <nav class="navbar">
        <p>Text</p>
    </nav>
    <!-- <div class="description">
        <p>Enter your text below and click submit to get a summary of your text.</p>
    </div> -->
    <form class="form" action="/analyze" method="POST">
        <textarea class='text-box' name="rawtext" placeholder="Bang Bang Skeet Skeet Nigga" id="rawtext" cols="30" rows="10"></textarea>
        <button class='button' type="submit">Submit</button>
    </form>
</body>
</html>